Repository Azure/draft, pull requests merged in 2018-04, with the labels that each got.

#643 add tail support for draft logs
  Gopkg.lock
  Gopkg.toml
  cmd/draft/logs.go
Labels: area/client, awaiting-review

#661 fix(client): avoid cloning map
  pkg/builder/builder.go
Labels: awaiting-review

#677 docs(install): add short section on using DockerHub
  docs/install-cloud.md
Labels: area/docs, size/small

#678 docs(dep-006): fix formatting
  docs/reference/dep-006.md
Labels: area/docs, size/small

#691 Add ACR Build support to Draft
  Gopkg.lock
  Gopkg.toml
  cmd/draft/config.go
  cmd/draft/up.go
  docs/acr-build.md
  docs/reference/dep-006.md
  docs/reference/dep-009.md
  docs/reference/index.md
  pkg/azure/blob/blob_util.go
  pkg/azure/containerregistry/builds.go
  pkg/azure/containerregistry/buildsteps.go
  pkg/azure/containerregistry/buildtasks.go
  pkg/azure/containerregistry/client.go
  pkg/azure/containerregistry/models.go
  pkg/azure/containerregistry/registries.go
  pkg/azure/containerregistry/util.go
  pkg/azure/containerregistry/version.go
  pkg/azure/iam/helpers/helpers.go
  pkg/azure/iam/helpers/parse_args.go
  pkg/azure/iam/iam.go
  pkg/builder/azure/builder.go
  pkg/builder/builder.go
  pkg/builder/docker/builder.go
  pkg/draft/manifest/manifest.go
  pkg/draft/manifest/manifest_test.go
Labels: area/client
